<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Gender</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stu of students;let i=index;let o=odd; let e=even; let f=first;let l=last"
    [ngClass]="{odd: o,even:e,first:f,last:l}">
      <th scope="row">{{i+1}}</th>
      <td>{{stu.name}}</td>
      <td>{{stu.gender}}</td>
      <td>{{stu.email}}</td>
      <td>{{stu.phone}}</td>
    </tr>

  </tbody>
</table>
