<!-- {{today|date}}
<br>
{{today| date: 'fullDate'}}

<br>
{{today| date: 'full'}}

<br>
{{today| date: 'mm:ss'}}

<br>
{{dummyText}}
<br>
<br>
{{dummyText |uppercase}}
<br>
<br>
{{dummyText |lowercase}}
<br>
<br>
{{dummyText |titlecase}} -->
<!--
{{pi}}

<br>
{{pi | number:'1.0-0'}}

<br>
{{pi | number:'3.0-0'}}

<br>
{{pi | number:'3.2-5':'fr'}} -->
<!--
{{a | currency}}
<br>
{{a | currency:'CAD'}}
<br>
{{b | currency:'CAD':'symbol':'4.2-2'}}
<br>
{{b | currency:'INR':'symbol-narrow':'4.2-2'}}

<br>
{{a | percent}}

<br>
{{b | percent:'4.3-5'}} -->

<!-- {{str | slice:0:4}} -->


